# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#for eclipse cdt
.project
.cproject  #.cproject store the make target info
.settings/

#log
*.log

#autotools
*.m4
.deps/
.libs/
stamp-h1
missing
makefile
Makefile.in
#keep makefile.am
ltmain.sh
libtool
install-sh
depcomp
# use git add -f configure.ac to upload this file if changed.
config*
autom4te.cache/
compile
INSTALL
.autotools

#clion
.idea/

#Cmake
CMakeFiles/

#lemon
lemon
